.brand_item {
  &-container {
    padding: 0 !important;
  }

  &-background {
    background-image: url('https://www.mercedes-benz.com.vn/content/vietnam/en/passengercars/_jcr_content/root/responsivegrid/simple_stage_1564354.component.damq6.3302624503610.png/c-class-w206-simple-teaser.png');
    background-size: cover;
  }

  &-introduction {
    border: 1px solid gray;
    @apply rounded-xl;

    .all-brand-body_type {
      @apply flex flex-wrap;
    }
  }

  // &-main {
  //   .price-and-seat {
  //     @apply;
  //   }
  // }

  &-detail {
    border: 1px solid gray;
    @apply rounded-xl;

    .render-detail {
      // img {
      //   @apply w-screen mt-4;
      // }
      table {
        width: 100% !important;
        table-layout: auto !important;
      }
      tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
      }
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      th {
        width: 10%;
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        text-align: inherit;
      }
      figure {
        width: 100%;
      }
      img {
        width: 100%;
      }
      p {
        text-align: justify !important;
      }
    }
  }
}
